<!DOCTYPE html>
<html>
<head>
	<title>carscarscars</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<div class="container">
	<div class="top">
		<img src="/images/download-5.jpg" alt="one">
		<img src="/images/download-2.jpg" alt="two">
		<img src="/images/download-1.jpg" alt="three">
	</div>

	<div class="bottom">
		<img src="/images/download-3.jpg" alt="four">
		<img src="/images/download.jpg" alt="five">
		<img src="/images/download-4.jpg" alt="six" >
	</div>

</body>
</html>