<html>
<body>
	
	<div class="name">
    	<h2>Details for Cuddles</h2>
    </div>
    <div class="name">
    	<p>picture</p>
    </div>
    <div class="food">
        <h3>Favorite food: Spegghetti</h3>
    </div>
    <div class="age">
        <h4>Age: 3</h4>
    </div>
    <div class="sleepSpots">
        <h5>Sleeping spots: on a throne, in the savanna</h5>
    </div>
</body>
</html>