<!DOCTYPE html>
<html>
<head>
	<title>Survey Form</title>
</head>
<body>
<div class="container">
	<form action='/form' method='post'>
	  <div class="form-group">
	    <label for="exampleFormControlInput1">Your Name: </label>
	    <input class="form-control" type="text" name="name">
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlSelect1">Dojo Location: </label>
	    <select class="form-control" name="location">
	      <option>Mountain View</option>
	      <option>Texas</option>
	      <option>Seattle</option>
	      <option>Chicago</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlSelect1">Favorite Language: </label>
	    <select class="form-control" name="language">
	      <option>Javascript</option>
	      <option>Flask</option>
	      <option>Express</option>
	      <option>Java</option>
	      <option>Swift</option>
	      <option>PHP</option>
	      <option>Ruby</option>
	      <option>C++</option>
	    </select>
	  </div>
	  <div class="form-group">
	    <label for="exampleFormControlTextarea1">Comment (optional):</label><br>
	    <textarea class="form-control" name="textarea" rows="3"></textarea>
	  </div>
	  <input class="btn btn-primary" type="submit" value="create user">
	</form>
</div>
</body>
</html>