<!DOCTYPE html>
<html>
<head>
	<title>results</title>
</head>
<body>
<div class="resultContain">
	<h1>Submitted Information</h1>
	<div class="info">

		Name: <%= users.name %>
		<br>
		Dojo Location: <%= users.location %>
		<br>
		Favorite Langauge: <%= users.language %>
		<br>
		Comment: <%= users.textarea %>
	</div>

</div>
</body>
</html>