<html>
<body>
    <h2>Here are all the users:</h2>
    <% for (var x in people) { %>
        <h3>Name: <%= people[x].name %></h3>
        <h4>Email: <%= people[x].email %></h4>
        <hr>
    <% } %>
</body>
</html>
